.image__middle {
  display: none;
}

.image__small {
  display: none;
}

.image__large {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1130px) {
  .image__middle {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .image__large {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .image__small {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .image__middle {
    display: none;
  }
}
